<div class="max-w-sm mx-auto">
  <label for="number-input" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Duración: </label>
  <input type="number" id="number-input" aria-describedby="helper-text-explanation"
    class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="1000" required (change)="changeDuration($event)" [value]="duration()" />


  <label for="message" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Mensaje: </label>
  <textarea id="message" rows="4"
    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
    placeholder="Write your thoughts here..." required (change)="changeMessage($event)" [value]="message()"></textarea>


  @if (duration() > 0) {
  <app-counter [duration]="duration()" [message]="message()"></app-counter>
  }

  <div>
    <app-wave-audio audioUrl="assets/audio.mp3"></app-wave-audio>
  </div>
</div>
