<section class="todoapp">
  <header class="header">
    <div class="container">
      <h1>Mi día</h1>
      <p>Todas mis tareas</p>
      <input class="new-todo" placeholder="Crear una nueva tarea" autofocus type="text" [formControl]="newTaskCtrl"
        (keyup.enter)="onChange();" />
    </div>
  </header>
  <div class="container todoapp-wrapper">
    <!-- This section should be hidden by default and shown when there are todos -->
    <section class="main">
      <ul class="todo-list">
        @for (task of tasksByFilter(); track $index) {
        <li (dblclick)="onEdit($index)" [class.editing]="task.editing" [class.completed]="task.completed">
          <div class="view">
            <input class="toggle" type="checkbox" [checked]="task.completed" (click)="handleCompleteTask($index)" />
            <label>{{task.title}}</label>
            <button class="destroy" (click)="onDelete($index)"></button>
          </div>
          <input class="edit" [value]="task.title" (keyup.enter)="onUpdate($index, $event)"/>
        </li>
        }
      </ul>
    </section>
    <!-- This footer should be hidden by default and shown when there are todos -->
    <footer class="footer">
      <span class="todo-count">
        <strong>{{tasksByFilter().length}}</strong> {{tasksByFilter().length > 1 ? 'items': 'item'}} left
      </span>
      <ul class="filters">
        <li>
          <a (click)="onFilterChange('all')" [class.selected]="filter() === 'all'">All</a>
        </li>
        <li>
          <a (click)="onFilterChange('pending')" [class.selected]="filter() === 'pending'">Pending</a>
        </li>
        <li>
          <a (click)="onFilterChange('completed')" [class.selected]="filter() === 'completed'">Completed</a>
        </li>
      </ul>
      <!-- Hidden if no completed items are left ↓ -->
      <button class="clear-completed">Clear completed</button>
    </footer>
  </div>
</section>
