<div class="container">
  <ul>
    @for (item of tasks; track $index) {
    <li>{{item}}</li>
    }
  </ul>
  <hr />
  <h3>{{'hello'.repeat(4)}}</h3>
  <hr />
  <p>La suma de 3 + 3 es {{3 + 3}}</p>
  <hr />
  <img [src]="urlImg" alt="" />
  <hr />
  <input type="text" [value]="name()">
  <button (click)="handleClick()">
    Click me
  </button>
  <hr />
  <input type="text" [value]="name()" (keyup)="handleKeyDown($event)">
  <h1>Signals</h1>
  <p>{{name()}}</p>
  <hr>
  <ul>
    <p>Total: {{anotherTasks().length}}</p>
    @for (task of anotherTasks(); track $index) {
    <li>{{$index}} - {{task}}</li>
    }
  </ul>
  <hr />
  @if (false) {
    <div >
      <p>My content</p>
    </div>
  }
  <hr />
  <input type="text" [value]="person().name" (change)="handleInputSignal($event)">
  @switch (person().name) {
    @case ('Jhon') {
      Case Jhon
    }
    @case ('Maria') {
      Case Maria
    }
    @case ('Pedro') {
      Case Pedro
    }
    @default {
      Default
    }
  }

  <hr />
  <input type="color" name="" id="" [formControl]="colorCtrl">
  <p>Color: {{colorCtrl.value}}</p>

</div>
