.container {
  padding: 2rem;
}
button {
  border: none;
  outline: none;
  background-color: #6c5ce7;
  padding: 10px 20px;
  font-size: 12px;
  font-weight: 700;
  color: #fff;
  border-radius: 4px;
}
button:hover {
  background-color: #4834d4;
}
